<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>next.server.HelloServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/nextdemo/hello</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
